body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #222;
  transition: 0.3s;
}

body.dark {
  background: #121212;
  color: #eee;
}

header {
  background: #ff7a00;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

body.dark section {
  background: #1e1e1e;
}

a {
  display: inline-block;
  margin: 5px 0;
  color: #ff7a00;
  text-decoration: none;
  font-weight: bold;
}

.controls button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
